@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app_container {
    @apply h-full w-[1700px];
  }
  .btn {
    @apply flex h-[40px] w-[40px] items-center justify-center rounded-full active:bg-dark_hover_1;
  }
  .btn_tablet {
    @apply flex h-[33px] w-[33px] items-center justify-center rounded-full active:bg-dark_hover_1;
  }
  .btn_small_phone {
    @apply flex h-[35px] w-[35px] items-center justify-center rounded-full active:bg-dark_hover_1;
  }
  .px16 {
    @apply px-[16px];
  }
  .textPrimary {
    font-size: 16px;
    line-height: 21px;
    @apply text-dark_text_1;
  }
  .textSecondary {
    font-size: 14px;
    line-height: 19px;
    @apply text-dark_text_2;
  }
  .input {
    @apply w-full flex-1 rounded-lg p-1.5 outline-none dark:bg-dark_bg_2 dark:text-dark_text_1;
  }
  .input_tablet {
    @apply w-full flex-1 rounded-lg p-1.5 text-sm outline-none dark:bg-dark_bg_2 dark:text-dark_text_1;
  }
  .convos {
    height: calc(100vh - 220px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .overflow_scrollbar {
    /* left a space for chat messages input */
    /* height: calc(100vh - 155px); */
    height: calc(100vh - 122px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  /* Open and closed classes for animation */
  .open_menu {
    /* display: block; */
    animation: scaleDownLeft 0.3s ease-in-out forwards;
  }

  .online {
    border: 2px solid #00a884;
  }
  .hview {
    height: calc(100vh - 280px);
    padding-bottom: 8px;
  }
}

/* ----- animations ----- */
/* .input class animation */
.rotateAnimation {
  animation: rotate 0.3s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
}

/* ----- Custom Scrollbar ----- */
.scrollbar::-webkit-scrollbar {
  width: 5px;
}
/* ----- Track ----- */
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
/* ----- Thumb ----- */
.scrollbar::-webkit-scrollbar-thumb {
  /* background: #444e5; */
  background: #444e54;
  border-radius: 1px;
}

/* Animation keyframes for the dropdown */
@keyframes scaleDownLeft {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ----- Emoji Picker Styles ----- */

.epr-dark-theme {
  background: #202c33 !important;
  border-radius: 0 !important;
  border: none !important;
}
.epr-dark-theme {
  width: 100% !important;
}

.openEmojiAnimation {
  animation: openAn 0.1s forwards;
}
@keyframes openAn {
  0% {
    transform: translateY(60px);
  }
}
.epr-search-container input {
  background: #222e35 !important;
  border-radius: 0 !important;
  border: none !important;
  font-size: 13px;
}
.epr-preview {
  display: none !important;
}
.epr-emoji-category-label {
  background: transparent !important;
  font-size: 15px;
  font-weight: normal !important;
}
/*--- Emoji Scroollbar
  /* width */
.epr-body::-webkit-scrollbar {
  width: 6px !important;
}

/* Track */
.epr-body::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
.epr-body::-webkit-scrollbar-thumb {
  background: #444e54 !important;
}
.epr-category-nav {
  padding: 10px 0 !important;
}
.epr-category-nav .epr-active::after {
  content: "";
  width: 140px;
  height: 4px;
  background: #00a884;
  position: absolute;
  bottom: -10px;
  left: -55px;
}
.epr-header {
  display: flex;
  flex-direction: column-reverse;
}
.openToolsAnimation {
  animation: openTools 0.2s forwards;
}
@keyframes openTools {
  0% {
    transform: translateY(100%);
  }
}

/* ----- Emoji Picker Styles ----- */
