@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app_container {
    @apply h-full w-[1700px];
  }
  .btn {
    @apply flex h-[40px] w-[40px] items-center justify-center rounded-full active:bg-dark_hover_1;
  }
  .btn_tablet {
    @apply flex h-[33px] w-[33px] items-center justify-center rounded-full active:bg-dark_hover_1;
  }
  .px16 {
    @apply px-[16px];
  }
  .textPrimary {
    font-size: 16px;
    line-height: 21px;
    @apply text-dark_text_1;
  }
  .textSecondary {
    font-size: 14px;
    line-height: 19px;
    @apply text-dark_text_2;
  }
  .input {
    @apply w-full flex-1 rounded-lg p-1.5 outline-none dark:bg-dark_bg_2 dark:text-dark_text_1;
  }
  .input_tablet {
    @apply w-full flex-1 rounded-lg p-1.5 text-sm outline-none dark:bg-dark_bg_2 dark:text-dark_text_1;
  }
  .convos {
    height: calc(100vh - 220px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .overflow_scrollbar {
    /* left a space for chat messages input */
    /* height: calc(100vh - 155px); */
    height: calc(100vh - 122px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  /* Open and closed classes for animation */
  .open_menu {
    /* display: block; */
    animation: scaleDownLeft 0.3s ease-in-out forwards;
  }
}

/* ----- animations ----- */
/* .input class animation */
.rotateAnimation {
  animation: rotate 0.3s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
}

/* ----- Custom Scrollbar ----- */
.scrollbar::-webkit-scrollbar {
  width: 5px;
}
/* ----- Track ----- */
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
/* ----- Thumb ----- */
.scrollbar::-webkit-scrollbar-thumb {
  /* background: #444e5; */
  background: #444e54;
  border-radius: 1px;
}

/* Animation keyframes for the dropdown */
@keyframes scaleDownLeft {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
